{% extends "BlogArticlesBundle::layout.html.twig" %}


{% block body %}


  <h2>Ajouter un article</h2>


  {{ include("BlogArticlesBundle:Default:form.html.twig") }}


  <p>

    

  </p>


{% endblock %}