{% extends "BlogArticlesBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Liste des articles</h2>

  <ul>
    {% for articles in listArticles %}
      <li>
        <a href="{{ path('blog_articles_view', {'id': articles.id}) }}">
          {{ advert.title }}
        </a>
        par {{ articles.author }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}
