<ul class="nav nav-pills nav-stacked">

  {% for articles in listArticles %}

    <li>

      <a href="{{ path('blog_articles_view', {'id': articles.id}) }}">

        {{ articles.title }}

      </a>

    </li>

  {% endfor %}

</ul>